

.filterSelectContainer{
    position: relative;
}

.filterCategory{
    display: flex;
    width: 105px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    border: 1px solid #E4E4E7;
    color: #09090B;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}

.valueFilterBlock{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 65px;
    width: 100%;
    transition: 0.5s ease-in;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    gap: 5px;
    cursor: pointer;
    border: 1px solid #E4E4E7;
    color: black;
    overflow: hidden;
    background-color: white;

}

.valuesFilterhidden{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 0px;
    width: 100%;
    transition: 0.5s ease-out;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    gap: 5px;
    border: none;
    cursor: pointer;
    color: black;
    overflow: hidden;
    background-color: white;

}

.valueFilterBlock button {
    padding: 1px;
    background-color: white;
    border: none;
}

.valuesFilterhidden button{
    padding: 1px;
    background-color: white;
    border: none;
}

.valueFilterBlock button:hover {
    background-color: #E4E4E7;
    
}
