.valueDisplayCardContainer {
  position: relative;
}

.valueDisplayCardBlock {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 100%;
  transition: 0.2s ease-in;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  gap: 5px;
  cursor: pointer;
  border: 1px solid #e4e4e7;
  color: black;
  overflow: hidden;
  background-color: white;
}

.valueDisplayCardHidden {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 0px;
  width: 100%;
  transition: 0.2s ease-out;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  gap: 5px;
  border: none;
  cursor: pointer;
  color: black;
  overflow: hidden;
  background-color: white;
}

.valueDisplayCardBlock button {
  padding: 1px;
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.valueDisplayCardHidden button {
  padding: 1px;
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.valueDisplayCardBlock button:hover {
  background-color: #e4e4e7;
}

.valueFilterBlock button {
  padding: 1px;
  background-color: white;
  border: none;
}

.valuesFilterhidden button {
  padding: 1px;
  background-color: white;
  border: none;
}

.valueFilterBlock button:hover {
  background-color: #e4e4e7;
}

.filterDisplayView {
  display: flex;
  width: 105px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  border: 1px solid #e4e4e7;
  color: #09090b;
  background-color: white;
  padding: 5px;
  cursor: pointer;
}
